@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-display: swap;
		font-family: "Inter";
		font-feature-settings: "cv11", "ss01";
		font-named-instance: "Regular";
		font-style: oblique 0deg 10deg;
		font-variation-settings: "opsz" 32;
		font-weight: 100 900;
		src: url("./assets/fonts/Inter.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: "MonaspaceArgon";
		font-feature-settings:
			"calt" 1,
			"dlig" 1,
			"ss01" 1,
			"ss02" 1,
			"ss03" 1,
			"ss04" 1,
			"ss05" 1,
			"ss06" 1,
			"ss07" 1,
			"ss08" 1;
		font-named-instance: "Regular";
		font-style: normal;
		font-variation-settings: "wdth" 100; /* 100-125 */
		font-weight: 200 800;
		src: url("./assets/fonts/MonaspaceArgon.woff2")
			format("woff2-variations");
	}
}

html {
	tab-size: 4;
}

#logo {
	@apply max-h-24 mb-6 mx-auto [&+p]:text-center [&+p_img]:inline-block [&+p_img]:mt-0;
}

main .content-panel:first-child:not(:only-child) {
	@apply sr-only;
}

main .content-panel:first-child:not(:only-child) + .content-panel {
	@apply border-t-0;
}

.hero img,
.site-title img {
	@apply rounded-full bg-[--sl-color-text-accent];
}

.hero img {
	@apply my-8 md:my-auto;
}

table {
	@apply whitespace-nowrap;
}
