@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-display: swap;
		font-family: "Inter";
		font-named-instance: "Regular";
		font-style: oblique 0deg 10deg;
		font-weight: 100 900;
		src: url("./assets/fonts/Inter.woff2") format("woff2");
	}

	@font-face {
		font-display: swap;
		font-family: "FiraCode";
		font-named-instance: "Regular";
		font-style: normal;
		font-weight: 300 700;
		src: url("./assets/fonts/FiraCode.woff2") format("woff2-variations");
	}
}

#logo {
	@apply max-h-32 mb-6 mx-auto [&+p]:text-center [&+p]:[view-transition-name:badges] [&+p_img]:h-8 [&+p_img]:inline-block [&+p_img]:mt-0 [view-transition-name:logo];
}

starlight-toc {
	@apply [view-transition-name:starlight-toc];
}

#starlight__sidebar {
	@apply [view-transition-name:starlight-sidebar];
}

header {
	@apply [view-transition-name:header];
}

main .content-panel:first-child:not(:only-child) {
	@apply sr-only;
}

main .content-panel:first-child:not(:only-child) + .content-panel {
	@apply border-t-0;
}

/* Based on https://luke.sh/dark-plus-tailwind */
:root {
	--astro-code-color-background: theme("colors.neutral.900");
	--astro-code-token-function: theme("colors.amber.100");
	--astro-code-color-text: theme("colors.sky.400");
	--astro-code-token-string: theme("colors.red.300");
	--astro-code-token-comment: theme("colors.green.700");
	--astro-code-token-keyword: theme("colors.pink.400");
	--astro-code-token-string-expression: theme("colors.red.300");
	--astro-code-token-constant: theme("colors.sky.400");
	--astro-code-token-punctuation: theme("colors.neutral.300");
}

.content .astro-code {
	@apply rounded-xl p-8 [tab-size:4];
}

.hero img {
	@apply p-10;
}
